---
layout: default
---

<main>
    <header class="post-header">
        <div class="post-meta">
            <span class="category">{{ page.categories | first | default: "Post" }}</span>
            <span class="date">{{ page.date | date: "%Y. %m. %d" }}</span>
        </div>
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="tags">
            {% for tag in page.tags %}
            <span class="tag">#{{ tag }}</span>
            {% endfor %}
        </div>
    </header>

    <article class="post-content">
        {{ content }}
    </article>
</main>
